include README.rst
include LICENSE.md
recursive-include docs *
recursive-include uaa_client/tests/templates *
recursive-include uaa_client/fake_uaa_provider/static *
recursive-include uaa_client/fake_uaa_provider/templates *
