include README.rst
include LICENSE.md
include requirements-tests.txt
recursive-include docs *
recursive-include uaa_client/tests/templates *
recursive-include uaa_client/static *
recursive-include uaa_client/templates *
