# this requirements file is used for readthedocs
sphinx
sphinx-autobuild
sphinx-rtd-theme
recommonmark
myst-parser
django
# install our package
# readthedocs offers to do it for us, but does it using
# `python setup.py install` and we don't have a setup.py
-e .
